<!DOCTYPE html>
{% load static %}
{% load render_table from django_tables2 %}
<html>

<head>
  <meta http-equiv="refresh" content="120">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   
  <title>waitingblock</title>
</head>

<body>
  <div class="container">
    <p></p>
    <div id="form_card" class="card-panel col s12">
<!-- Username Login/Logout -->
    <div class="row justify-content-center">
      <div class="col s1">
        {% block content %}
        {% if user.is_authenticated %}
          <form action="{% url 'tables' %}">
          <button type="submit" class="btn">Tables</button>
          </form></p>
      </div>
      <div class="col s1 offset-s1">
        <form action="{% url 'admin:index' %}">
                <button type="submit" class="btn">{{ user.username }}</button>
                </form>
            </div>        
      <div class="col s1 offset-s1 ">
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}">
          <button type="submit" class="btn">Logout</button>
          </form>
        {% else %}
      </div>
      {% endif %}
    </div>
  </div>
    <p></p>
      {% load crispy_forms_tags %}

<!-- Form -->

<div class="section">
<div id="form_card" class="card-panel col s12">
      <div>
        <form method="post" novalidate>
          {% csrf_token %}
          <div class="row">
            <div class="col-8">
              {% crispy form %}
            </div>
        </form>
      </div>
</div>
</div>
      {% else %}
      <p>
        <p>
          <p><form action="{% url 'login' %}">
            <button type="submit" class="btn">Login</button>
            </form></p>
          <p><form action="{% url 'signup' %}">
            <button type="submit" class="btn">Sign Up</button>
            </form></p>
          {% endif %}
          {% endblock %}
    </div>
  </div>
  </div>
</div>
</body>
<!-- FOOTER -->
<footer>
  <div id="footer">

  </div>
</footer>
</div>

</html>
