<!DOCTYPE html>
{% load static %}
{% load render_table from django_tables2 %}
<html>

<head>
  <meta http-equiv="refresh" content="120">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   
  <title>waitingblock</title>
</head>

<body>
  <div class="container">
    <div id="form_card" class="card-panel col s12">
    <p></p>
    <div class="row justify-content-center">
      <div class="col s1">
        <form action="{% url 'home' %}">
          <button type="submit" class="btn">Home</button>
          </form>
      </div>
      <div class="col s1 offset-s1">
        <form action="{% url 'admin:index' %}">
                <button type="submit" class="btn">{{ user.username }}</button>
                </form>
            </div>        
      <div class="col s1 offset-s1 ">
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}">
          <button type="submit" class="btn">Logout</button>
          </form>
        {% else %}
      </div>
      {% endif %}
    </div>
</div>
{% block data %}
<!-- <div class="section">
    <div id="form_card" class="card-panel col s12">
        <form action="" method="POST">
            {% csrf_token %}
            {% render_table table %}
            <div><p><input class="btn btn-primary red" type="submit" value="Delete"/></p></div>
        </form>
    </div>
</div> -->

<div class="section">
  <div id="form_card" class="card-panel col s12">
    {% csrf_token %}
    {% render_table table %}
      <form action="{% url 'delete' %}">
          <p><button class="btn btn-primary red" type="submit" >Delete</button></p>
      </form>
  </div>
</div>
{% endblock %}
</div>
{% block scripts %}
<script>
    var checkboxes = $("input[type='checkbox']"),
        submitButton = $("button[type='submit']");

    checkboxes.click(function() {
        submitButton.attr("disabled", !checkboxes.is(":checked"));
    });
</script>
{% endblock %}
</body>

<!-- FOOTER -->
<footer>
  <div id="footer">

  </div>
</footer>
</div>

</html>
